* {
    margin: 0;
}

.block {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 20px;
}

.inner {
    width: 80px;
    height: 80px;
    background-color: orange;
    position: absolute;
}